<h1 >
  <span *ngIf="!heroe.id"> Nuevo</span>
  Heroe
  <small>{{ heroeName | titlecase}}</small>
</h1>
<div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column" class="animate__animated animate__fadeInLeftBig">
  <div fxFlex="50" fxLayout="column" >

    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">

      <mat-form-field fxFlex="100" fxLayout.xs="column">
        <mat-label>Super Heroe</mat-label>
        <input matInput type="text" required="true" [(ngModel)]="heroe.superhero">
      </mat-form-field>

      <mat-form-field fxFlex="100">
        <mat-label>Alter Ego</mat-label>
        <input matInput type="text" required="true" [(ngModel)]="heroe.alter_ego">
      </mat-form-field>

    </div>
    <mat-form-field>
      <mat-label>Primera Aparición</mat-label>
      <input matInput type="text" required="true" [(ngModel)]="heroe.first_appearance">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Personajes</mat-label>
      <input matInput type="text" required="true" [(ngModel)]="heroe.characters">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Creador</mat-label>
      <mat-select [(ngModel)]="heroe.publisher">
        <mat-option *ngFor="let publisher of publishers" [value]="publisher" >
          {{publisher | titlecase}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Foto Url</mat-label>
      <input matInput type="url" required="true" [(ngModel)]="heroe.alt_img">
    </mat-form-field>

    <br>

    <div  fxLayout="">

    <button mat-raised-button color="accent" (click)="guardar()">
      <mat-icon >{{(!heroe.id)? 'save' : 'edit'}}</mat-icon>
      {{(!heroe.id) ? 'Guardar' : 'Editar'}}
    </button>
<span class="spacer"></span>
      <button mat-raised-button *ngIf="heroe.id" (click)="EliminarHeroe()" color="warn"
      ><mat-icon fontIcon="delete"></mat-icon>
      Borrar</button>
    </div>

  </div>
  <div fxFlex="50" fxLayout="column" fxLayoutGap="20px" class="animate__animated animate__fadeInDown">
    <img [src]="heroe | imagenHeroe">
  </div>
</div>
