<p>error-page works!</p>
<ul>
  <li>
    <a routerLink="/auth/login">{{'ir a Auth Login'| titlecase}}</a>
  </li>
  <li>
    <a routerLink="/auth/register">
      {{'ir a Auth register'| titlecase}}</a>
  </li>

  <li><a routerLink="/heroes/listado">{{'ir a Heroes listado'| titlecase}}</a></li>
  <li><a routerLink="/heroes/agregar/">{{'ir a Heroes agregar'| titlecase}}</a></li>
  <li><a routerLink="/heroes/editar/12">{{'ir a Heroes editar '| titlecase}}</a></li>
  <li><a routerLink="/heroes/buscar">{{'ir a Heroes buscar'| titlecase}}</a></li>
  <li><a routerLink="/heroes/2">{{'ir a Heroes heroe'| titlecase}}</a></li>
</ul>
